.mainnav:before {
    content: '';
    position: absolute;
    overflow: visible;
    width: 790px !important;
    height: 60px;
    z-index: -1;
    margin: 10px;
    -transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
    background: #2e9dd6;
    box-shadow: 1px 1px 2px #1e1e1e;
    /* Old browsers */
    border-radius: 15px;
    background: -moz-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e9dd6), color-stop(77%, #0171aa));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #2e9dd6 0%, #0171aa 77%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2e9dd6', endColorstr='#0171aa', GradientType=0);
    /* IE6-9 */
}

.home  .searchTool:after {
    content: '';
    position: absolute;
    overflow: visible;
    display: inline-block;
    width: 380px;
    top: 0;
    left: 410px;
    height: 45px;
    z-index: -1;
    margin: 10px;
    -transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
    box-shadow: 1px 1px 2px #1e1e1e;
    background: #000000;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
}

.mainnav:before {
    content: '';
    position: absolute;
    overflow: visible;
    width: 790px !important;
    height: 60px;
    background: #e7e7e7;
    z-index: -1;
    margin: 10px;
    -transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
    background: #2e9dd6;
    box-shadow: 1px 1px 2px #1e1e1e;
    /* Old browsers */
    
    background: -moz-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* FF3.6+ */
    
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e9dd6), color-stop(77%, #0171aa));
    /* Chrome,Safari4+ */
    
    background: -webkit-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* Chrome10+,Safari5.1+ */
    
    background: -o-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* Opera 11.10+ */
    
    background: -ms-linear-gradient(top, #2e9dd6 0%, #0171aa 77%);
    /* IE10+ */
    
    background: linear-gradient(to bottom, #2e9dd6 0%, #0171aa 77%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#2e9dd6', endColorstr='#0171aa', GradientType=0);
    /* IE6-9 */
}

.pages  .searchTool:after {
    content: '';
    position: absolute;
    overflow: visible;
    display: inline-block;
    width: 380px;
    top: 0;
    left: 410px;
    height: 45px;
    z-index: -1;
    margin: 10px;
    -transform: skew(-20deg, 0deg);
    -webkit-transform: skew(-20deg, 0deg);
    -moz-transform: skew(-20deg, 0deg);
    -o-transform: skew(-20deg, 0deg);
    -ms-transform: skew(-20deg, 0deg);
    box-shadow: 1px 1px 2px #1e1e1e;
    background: #000000;
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45484d), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -o-linear-gradient(top, #45484d 0%, #000000 100%);
    background: -ms-linear-gradient(top, #45484d 0%, #000000 100%);
    background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000', GradientType=0);
}

.searchTool {
    padding-left: 30px;
    color: #fff;
    z-index: 0;
    margin-top: 15px;
}


.searchContainer input {
    background: url(../images/search_icon.png) 94% center no-repeat transparent;
}

.logo img {
    -webkit-filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=1, OffY=1, Color='#444')";
}

.home .mainnavContainer {
    margin-top: 0px;
}

.pages .mainnavContainer {
    margin-top: 0px;
}



button {
  background-color: #6BBE92;
  width: 302px;
  border: 0;
  padding: 10px 0;
  margin: 5px 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}

































/* Main Navigation */
.menu li {
    display: inline-block;
    position: relative;
    z-index: 100;
    text-transform: uppercase;
    list-style: none;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px #000;
    font-size: 12px;    text-align: left;

    text-decoration: none;
}

.menu>li>a {
    list-style: none;
    line-height: 80px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #fff;
    font-family: "PT Sans", sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px #000;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -ms-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.menu li a:hover,
.menu li:hover > a,
.menu li ul li a:hover,
.menu li ul li:hover {
    color: #cecece;
}
/* hide the second level menu */

.menu ul {
    display: none;
    margin: 0 auto;
    padding: 5px;
    width: 250px;
    position: absolute;
    top: 70px;
    left: 0px;
    background: #0171aa;
    box-shadow: 1px 3px 2px lightgrey;
    border-radius: 0px 0px 5px 5px;
}

.home .menu ul {
    box-shadow: 1px 2px 4px #1e1e1e;
}
/* display second level menu on hover */

.menu li:hover > ul {
    display: block;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
    width:240px;
}

.menu ul li a,
.menu ul li ul li a {
    list-style: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 13px;
    font-family: "PT Sans", sans-serif;
    font-weight: 800;
    text-shadow: 1px 1px #000;
    text-decoration: none;
    line-height: 40px;
}


.menu ul li ul {
    padding: 5px;
    width: 240px;

}

.menu ul li a:hover,
.menu ul li:hover > a {
    color: #cecece;
}
/* change level 3 menu positions */

.menu ul ul {
    left: 180px;
    top: 2px;
    box-shadow: none !important;
    background:#0171aa;
    border-radius: 5px;
}

.menu ul ul
/* change level 4 menu positions */

.menu ul ul ul {
    left: 200px;
    top: 0px;
}

.mobile-menu {
    display: none;
    width: 100%;
    padding: 11px;
    background: #3E4156;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

.mobile-menu:hover {
    background: #fab700;
    color: #ffffff;
    text-decoration: none;
}

.mobile-menu {
    margin-top:30px;
    background: #fab700;
}
/* Media Queries */

@media (max-width: 767px) {
    .menu {
        display: none;
        background: none;
        border-radius: 0px;
        height: auto;


    }
    .mobile-menu {
        display: block;
        margin-top: 20px;
    }

        .mobile-menu {
        background: #1e1e1e;
        height: 50px;
        color: #fff;
    }

    .mobile-menu:hover {
        background: #0280a5;
    }


    nav {
        margin: 0;
        background: none;
    }

    .menu li {
        display: block;
        margin: 0 !important;
        width: 100% !important;
    }
    .menu li a {
        background: #5d5d5d;
        color: #fff;
    }
    .menu li a:hover,
    .menu li:hover > a {
        background: #0280a5;
        color: #fff;
        border-left: 0px solid #fab700;
    }




     .footer_nav li:after {
        content: "";
    }
    /*level 2 and 3 - make same width as all items*/

    .menu ul,
    .menu ul li ul {
        display: block;
        position: relative;
        top: 0;
        left: 0;
        padding-left: 20px;
        width: 100%;
        display: none;
    }
    .menu ul ul {
        left: 0;
    }

    .menu>li {
        margin-top: -3px !important;
    }

    .menu ul li a {
        border: none !important
    }

}

/*end media queries*/
